{% extends "template.html" %}
{% block subtitle %}Liky{% endblock %}
{% block main %}
{% if current_user.is_authenticated %}
    <style>svg:hover{fill:rgb(198, 1, 1);}</style>
    <div class="h-25 p-3" style="min-height: 65px; margin-bottom: -20px; margin-top: -10px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p id="flash_message" class="alert alert-{{ category }}" role="alert" id="success">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h1 class="fs-3 mt-0" style="color: green">Tvoje liky</h1>
    <div class="d-flex justify-content-start align-items-start w-100 flex-row" style="min-height: 400px;">  
        {% for user in users %}
            {% if user['node_id'] in get_user_likes(current_user.get_node_id()) %}
                {% if user['picture'] %}
                    <div id="box" class="p-0 border border-dark border-3 rounded-3 m-2 position-relative border-opacity-75" style="min-width: 200px;;max-height: 272px; overflow: hidden;">
                        <p class="position-absolute fw-bold ms-2 mt-2 fs-5">{{user['name']}}</p>
                        <p class="position-absolute bottom-0 end-0 fw-bold mb-2 me-2 fs-5">{{age_formater(user['age'])}} let</p>
                        <img class="align-self-start" src="data:{{ image_format(user['picture']) }};base64,{{ user['picture'] }}" style="width: 200px; height:auto;">
                        <a href="{{ url_for('remove_like',user_node_id=current_user.get_node_id(), node_id=user['node_id'], name=user['name']) }}" class="position-absolute bottom-0 start-50 f-2 translate-middle-x" style="padding-bottom: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heartbreak-fill" viewBox="0 0 16 16" style="width: 28px; height: 28px"><path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/></svg>
                        </a>
                    </div>
                {% endif %}    
            {% endif %}
        {% endfor %}
    </div>
    <script>
        setTimeout(function() {
            const flashMessages = document.getElementById('flash_message');
            if (flashMessages) {flashMessages.style.display = 'none';}
        }, 3000);
    </script>
    {% else %}
        <h1>Nejste přihlášený.</h1>
    {% endif %}
{% endblock %}