{% extends "template.html" %}
{% block subtitle %}Můj profil{% endblock %}
{% block main %}
    {% if current_user.is_authenticated %}
        <!--<script src="{{url_for('static',filename='main.js')}}" type="text/javascript"></script>-->
        <div id="photo_div" class="h-25 p-3" style="min-height: 65px; margin-bottom: -20px;">{% if error %}<p class="alert alert-danger" role="alert" id="failed">{{ error }}</p>{% endif %}
            {% if success %}<p class="alert alert-success" role="alert" id="success">{{ success }}</p>{% endif %}</div>
        <div class="d-flex flex-column align-items-start w-100 mt-0 mb-4">  
            <p class="text-center fs-6 mt-0 mb-1">Jméno: {{ current_user.get_name() }}</p>
            <p class="text-center fs-6 mt-2 mb-1">Prijmeni: {{ current_user.get_surname() }}</p>
            <p class="text-center fs-6 mt-2 mb-1">Pohlavi: {{ current_user.get_pohlavi() }}</p>
            <p class="text-center fs-6 mt-2 mb-1">Věk: {{ current_user.get_vek() }}</p>
            <p class="text-center fs-6 mt-2 mb-1">Orientace: {{ current_user.get_orientace() }}</p>
            <div class="d-flex align-items-self-start">    
                <div><p class="text-center fs-6 mt-2 mb-1">Konicky: {{ current_user.get_konicky() }}</p></div>
                <div><button class="btn btn-outline-secondary mt-1 mb-1 ms-3 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">Změnit</button></div>
            </div>
            <div class="collapse collapse-vertical" id="collapseWidthExample">
                <form action="/update_konicky" method="POST" enctype="multipart/form-data">
                    <div id="" class="container text-center mb-0 mt-0 justify-content-center">
                        <div class="row justify-content-center">
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Sport" id="hobby_check1"><p>Sport</p></label></div>
                            <div class="col-2 form-check" style="width: 110px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Hraní her" id="hobby_check2"><p>Hraní her</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Hudba" id="hobby_check3"><p>Hudba</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Cvičení" id="hobby_check4"><p>Cvičení</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Posilování" id="hobby_check5"><p>Posilování</p></label></div>
                            <div class="col-2 form-check" style="width: 160px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Hudební nástroje" id="hobby_check6"><p>Hudební nástroje</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Kytara" id="hobby_check7"><p>Kytara</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Klavír" id="hobby_check8"><p>Klavír</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Spánek" id="hobby_check9"><p>Spaní</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Jídlo" id="hobby_check10"><p>Jídlo</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Meditace" id="hobby_check11"><p>Meditace</p></label></div>
                            <div class="col-2 form-check" style="width: 100px;"><label class="form-check-label"><input class="form-check-input" name="konicky" type="checkbox" value="Běhání" id="hobby_check12"><p>Běh</p></label></div>
                        </div>
                    </div>            
                    <button type="submit" id="update_button" class="btn btn-outline-secondary">Aktualizovat</button>
                </form>
            </div>
            <div class="d-flex align-items-self-start">        
                <p class="text-center fs-6 mt-2 mb-1">Popis profilu: {{ current_user.get_popis() }}</p>
                <button class="btn btn-outline-secondary mt-1 mb-1 ms-3 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePopis" aria-expanded="false" aria-controls="collapsePopis">Změnit</button>
            </div>
            <div class="collapse collapse-vertical" id="collapsePopis">
                <form action="/update_popis" method="POST" enctype="multipart/form-data">                          
                    <div id="" class="form-floating mb-3 mt-3"><textarea class="form-control" style="width: 300px;" name="popis" placeholder="Napiš něco o sobě" id="floatingTextarea"></textarea></div>
                    <button type="submit" id="update_button" class="btn btn-outline-secondary">Aktualizovat</button>
                </form>
                </div>
            <div class="d-flex align-items-self-start mb-3 mt-3">    
                <div class="text_image_row"><p>Fotka:</p></div>
                <div class="image_row ms-3 me-3">
                    {% if current_user.get_fotka() %}
                        <img src="data:{{ current_user.get_fotka().image_format }};base64,{{ current_user.get_fotka().image_data }}" style="width: 200px; height:auto;">
                    {% else %}
                        <p>Nemáte narhranou žádnou fotku.</p>
                    {% endif %}
                </div>
            </div>

            <form action="/update_image" method="POST" enctype="multipart/form-data">
                <label for="photo">Upload Photo: </label>
                <input type="file" id="photo" name="photo" accept=".png, .jpg, .jpeg" required>
                <button type="submit" id="update_button" class="btn btn-outline-secondary mt-3 mb-3">Nahrát fotku</button>
            </form>
            
        </div>
    {% else %}
        <h1>Nejste přihlášený.</h1>
    {% endif %}

{% endblock %}